/*header*/
.header-include{
  width: 100%;
  height: 157px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
/*top header*/
.top-header{
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  padding: 0 20px;
}
.top-header .inner{
  width: 100%;
  padding: 16px 0;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 212px minmax(320px, 604px) 212px;
}
.top-header .inner h1{
  width: 212px;
}
.top-header .inner h1 a{
  display: block;
  width: 100%;
  height: 100%;
}
.top-header .inner h1 a img{
  display: block;
  width: 100%;
  height: auto;
}
.top-header .inner form{
  width: 100%;
  padding: none;
  margin: none;
}
.top-header .inner form .search-box{
  width: 100%;
  padding: 8px 16px;
  background-color: var(--background-color);
  border-radius: 30px;
  display: grid;
  grid-template-columns: auto 24px;
  justify-content: space-between;
}
.top-header .inner form .search-box input{
  display: inline-block;
  width: calc(100% - 24px);
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}
.top-header .inner form .search-box button{
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../img/icon/search.svg") no-repeat center / 100%;
  border: none;
}
.top-header .inner .goto-menus{
  display: grid;
  justify-content: right;
  grid-template-columns: 24px 24px;
  gap: 12px;
}
.top-header .inner .goto-menus .goto-icon{
  width: 24px;
  height: 24px;
  position: relative;
}
.top-header .inner .goto-menus .web-cart::after{
  content: "4";
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--onPrimary-color);
  font-size: 10px;
  line-height: 16px;
  position: absolute;
  z-index: 10;
  top: -4px;
  right: -8px;
}
.top-header .inner .goto-menus .mobile-icon{
  display: none;
}
.top-header .inner .goto-menus .goto-icon a{
  display: block;
  width: 100%;
  height: auto;
}
.top-header .inner .goto-menus .goto-icon a img{
  display: block;
  width: 100%;
  height: auto;
}
/*nav*/
#nav{
  width: 100%;
  height: 40px;
  background-color: #fff;
  padding: 0 20px;
}
#nav .inner{
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
#nav .inner .mobile-header{
  display: none;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 120px 24px;
}
#nav .inner .mobile-header .mobile-logo{
  width: 120px;
}
#nav .inner .mobile-header .mobile-logo a{
  display: block;
  width: 100%;
  height: auto;
}
#nav .inner .mobile-header .mobile-logo a img{
  display: block;
  width: 100%;
  height: auto;
}
#nav .inner .mobile-header .close-btn img{
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
#nav .inner .mobile-goto{
  display: none;
  padding: 16px 0;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
}
#nav .inner .mobile-goto .goto-icon{
  background-color: var(--background-color);
  border-radius: 8px;
}
#nav .inner .mobile-goto .goto-icon a{
  display: grid;
  justify-content: center;
  padding: 16px 0;
}
#nav .inner .mobile-goto .goto-icon a .menu-img{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  position: relative;
}
#nav .inner .mobile-goto .goto-icon:nth-child(1) a .menu-img{
  background: url("../../img/icon/user.svg") no-repeat center / 100%;
}
#nav .inner .mobile-goto .goto-icon:nth-child(2) a .menu-img{
  background: url("../../img/icon/shopping-bag.svg") no-repeat center / 100%;
}
#nav .inner .mobile-goto .goto-icon:nth-child(3) a .menu-img{
  background: url("../../img/icon/search.svg") no-repeat center / 100%;
}
#nav .inner .mobile-goto .goto-icon:nth-child(2) a .menu-img::after{
  content: "4";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--onPrimary-color);
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  top: -4px;
  right: -6px;
  text-align: center;
}
#nav .inner .mobile-goto .goto-icon a .menu-txt{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--txt2-color);
  margin-top: 4px;
}
#nav .inner .lnb{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, minmax(40px, max-content));
}
#nav .inner .lnb .depth1{
  position: relative;
  padding-right: 24px;
}
#nav .inner .lnb .depth1 .depth1-txt{
  display: grid;
  justify-content: left;
  align-items: center;
  grid-template-columns: repeat(2, minmax(24px, max-content));
}
#nav .inner .lnb .depth1 .depth1-txt a{
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: var(--txt1-color);
  position: relative;
}
#nav .inner .lnb .depth1 .depth1-txt a::before{
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0;
  left: 0;
}
#nav .inner .lnb .depth1:hover .depth1-txt a::before{
  display: block;
}
#nav .inner .lnb .depth1 .depth1-txt .arrow-btn{
  display: none;
  width: 24px;
  height: 24px;
}
#nav .inner .lnb .depth1 .depth1-txt .arrow-btn img{
  display: block;
  width: 100%;
  height: auto;
  transform: rotate(-90deg);
  cursor: pointer;
}
#nav .inner .lnb .depth1 .depth1-txt .arrow-btn img.gnb-on{
  transform: rotate(90deg);
}
#nav .inner .lnb .depth1 .gnb{
  display: none;
  width: auto;
  position: absolute;
  left: 0;
  top: 40px;
  padding: 8px 0;
  gap: 24px;
}
#nav .inner .lnb .depth1:hover .gnb{
  display: grid;
}
#nav .inner .lnb .depth1 .gnb::before{
  content: "";
  display: none;
  width: 100vw;
  height: 50px;
  background-color: #fff;
  position: fixed;
  top: 157px;
  left: 0;
  z-index: -1;
}
#nav .inner .lnb .depth1:hover .gnb::before{
  display: block;
}
#nav .inner .lnb .depth1 .gnb .depth2{
  display: block;
}
#nav .inner .lnb .depth1 .gnb .depth2 a{
  display: block;
  font-size: 16px;
  color: var(--txt2-color);
}
#nav .inner .lnb .depth1 .gnb .depth2 a:hover{
  color: var(--txt1-color);
  font-weight: 500;
}
/*max-width: 768px*/
@media only screen and (max-width: 768px) {
  .header-include{
    height: 81px;
  }
  .top-header{
    height: inherit;
    padding: 0 32px;
  }
  .top-header .inner{
    max-width: 704px;
    grid-template-columns: 120px 24px;
  }
  .top-header .inner h1{
    width: 120px;
  }
  .top-header .inner form{
    display: none;
  }
  .top-header .inner .goto-menus{
    grid-template-columns: 24px;
    display: grid;
    justify-content: right;
    gap: 12px;
  }
  .top-header .inner .goto-menus .goto-icon{
    display: none;
  }
  .top-header .inner .goto-menus .mobile-icon{
    display: block;
  }
  #nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: -100vw;
    visibility: hidden;
    transition: right 0.3s ease-in-out;
    z-index: 101;
    padding: 0 32px;
  }
  #nav.slide-in{
    right: 0;
    visibility: visible;
  }
  #nav .inner{
    width: 100%;
    max-width: 704px;
    margin: 24px auto;
  }
  #nav .inner .mobile-header{
    display: grid;
  }
  #nav .inner .mobile-goto{
    display: grid;
  }
  #nav .inner .lnb{
    display: block;
    padding: 16px 0;
  }
  #nav .inner .lnb .depth1{
    position: static;
    padding-right: 0;
  }
  #nav .inner .lnb .depth1 .depth1-txt{
    justify-content: space-between;
    display: grid;
    align-items: center;
  }
  #nav .inner .lnb .depth1:hover .depth1-txt a::before{
    display: none;
  }
  #nav .inner .lnb .depth1 .depth1-txt .arrow-btn{
    display: block;
  }
  #nav .inner .lnb .depth1 .gnb{
    position: static;
    padding: 0;
  }
  #nav .inner .lnb .depth1:hover .gnb{
    display: none;
  }
  #nav .inner .lnb .depth1:hover .gnb::before{
    display: none;
  }
  #nav .inner .lnb .depth1 .gnb .depth2{
    display: block;
    margin-right: 0;
  }
  #nav .inner .lnb .depth1 .gnb .depth2 a{
    padding: 4px 16px;
  }
}
@media only screen and (max-width: 360px) {
  .top-header{
    padding: 0 20px;
  }
  #nav .inner .mobile-goto{
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(78px, auto));
  }
  #nav .inner .mobile-goto .goto-icon:nth-child(3){
    grid-area: 2/1/3/3;
  }
}