@import url("../common/footer.css");
@import url("../common/header.css");
@import url("../common/reset.css");
@import url("../../../../../css/reset.css");
@import url("../container/landingContainer.css");
/*skip nav*/
#skip{
  position: relative;
  z-index: 1000;
}
#skip a{
  width: 300px;
  position: absolute;
  top: -45px;
  left: 0;
  border: 1px solid #fff;
  background-color: #333;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
#skip a:active, #skip a:focus{
  top: 0;
}